@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root {
    --clr1: #26d198;
    --clr2: #fff;
    --clr3: #000;
    --clr4: #e77c17;
    --clr5: rgb(205, 60, 50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--clr1);
}

.btn {
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem; 
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: .5rem;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: var(--clr3);
    box-shadow: 0px .2rem 2rem rgba(255, 85, 94, 0.4);
    color: #fff;
    transform: translateY(-1rem);
}

.btn:active {
    transform: translateY(-.1rem);
}

section {
    padding: 4rem 9%;
    margin-top: 8rem;
}

section.reg {
    padding: 6rem 1%;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
section h3 {
    font-size: 4rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}

section h4 {
    margin: 0 0 1rem 25rem;
    padding: .2rem;
    width: 50%;
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: .2rem;
    clip-path: polygon(0% 15%, 25% 28%, 15% 0%, 85% 0%, 70% 28%, 100% 15%, 100% 85%, 67% 70%, 85% 100%, 15% 100%, 28% 66%, 0% 85%);
    background: var(--clr1);
}

section h2 {
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr3);
    text-transform: capitalize;
    letter-spacing: .1rem;
}

section p {
    color: var(--clr2);
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: var(--clr1);
    color: var(--clr2);
    padding: 3rem 9%;
    align-items: center;
    justify-content: space-between;
}

.head h1 {
    font-size: 2.5rem;
}


@keyframes icon {
    25% {
        transform: translateY(-1.5rem);
    }
    50% {
        transform: translateY(1.5rem);
    }
}

.head .navbar a {
    color: var(--clr2);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 2rem;
}

.head .navbar a:hover {
    transition: .4s ease;
    color: var(--clr3);
}

.head .side-bar i {
    padding: 1.5rem;
    font-size: 2.1rem;
    border: none;
    background: var(--clr2);
    color: var(--clr1);
}

.head .side-bar i:hover {
    background: var(--clr3);
    color: var(--clr1);
    transition: .5s ease all;
}

#bars {
    display: none;
}

.search-bar {
    height: 7rem;
    padding: 0 1rem;
    display: flex;
    position: absolute;
    top: 99%;
    left: 50%;
    right: 0;
    align-items: center;
    background: var(--clr3);
    border: 2px solid var(--clr1);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
}

.search-bar.active {
    transition: .2s ease;
    border: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.search-bar input {
    width: 100%;
    background: none;
    border: hidden;
    text-transform: none;
    font-size: 1.5rem;
    color: #fff;
}


/*------------------------Home Section--------------------*/

.home {
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(back1.png) no-repeat; */
    background-color: white;
    background-size: cover;
    background-position: center;
    /* color: black; */
}

.home-content {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}

.inner-content {
    max-width: 70rem;
    margin-top: 20rem;
    text-align: center;
}

.inner-content-img {
    margin-top: 2rem;
}

.inner-content p {
    color: black;
    font-size: 2.2rem;
}

.inner-content h3 {
    color: #000;
}

.inner-content-img img {
    width: 45rem;
    height: auto;
    margin-top: 20%;
    margin-left: 10%;
    animation: icon 5s ease infinite;
    /* margin-bottom: -5%; */
}


/*---------------about section---------*/

.about-sec {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    margin-top: 10%;
}

.img img {
    width: 45rem;
    height: auto;
    text-align: center;
    animation: icon 4s ease infinite;
}

.about-content h3 {
    /* background: url(back.png); */
    background-size: cover;
    background-position: center;
    color: var(--clr1);
    padding-bottom: 2rem;
}

.about-content p {
    padding-bottom: 2rem;
    color: var(--clr3);
    font-size: 1.4rem;
    font-weight: 600;
}

.about-inner h5 {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 900;
}

.about-inner h5:hover {
    transition: 1s ease;
    transform: translateX(2rem);
}

.about-inner .fas {
    color: var(--clr1);
    padding-right: 1rem;
}

.about-content .btn {
    border: .1rem solid var(--clr1);
}


.container{
    position: relative;
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-position: center;
    background-size: cover;
  }

.container h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: var(--clr3);
    margin-top: -10px;
  }

.form-c {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }

.form-c:focus{
    border-color: var(--clr3);
  }

.container form .form-group{
    height: 52px;
    margin: 18px 0;
  }
  
.btns input{
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    letter-spacing: 2px;
    border: navy;
    cursor: pointer;
    border-radius: 20px;

}

.btns input:hover {
    color: #fff;
    background-color: #3e07a3;
    border-color: #0084da;
  }
  
.text{
    color: rgb(88, 56, 56);
     width: 100%;
     text-align: center;
     margin-top: 8px;
}
  
.text a{
  color: #4070f4;
  text-decoration: none;
}
  
.text a:hover{
    text-decoration: underline;
}

.display-none{
  display: none;
}
.logcontainer{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: white;
    margin-top: 20px;
  }

a.sign{
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  background-color: #2ebf91;
  padding: 10px;
  margin-left: 138px;
}

a.sign:hover{
  text-decoration: underline;
}

img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
    }

.avatar{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.avatar1{
  padding-left: 50px;
  padding-right:50px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--clr3); 
  border-radius: 10px;
  padding-left: -10px;
  margin-top: 17px;
}
.log-c {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }

.log-c:focus{
    border-color: var(--clr3);
  }

.logcontainer form .log-group{
    height: 52px;
    margin: 18px 0;
  }
  
.btns input{
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    letter-spacing: 2px;
    border: navy;
    background: var(--clr3);
    cursor: pointer;
    border-radius: 20px;
}

.btns input:hover {
    color: #fff;
    background-color: var(--clr1);
    border-color: #0084da;
  }
  
.log1{
  padding: 5px;
  border-radius: 10px;
  background-color: var(--clr2);
}

.log1:hover{
  background-color: var(--clr1);
}

.menu-cont {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr ;
  grid-gap: .5rem;
  flex-wrap: nowrap;
}

.head1 .h3r{
  color: var(--clr3);
}

.third-form{
  border-color: #000;
  box-shadow: 0 20px 30px rgba(15, 6, 6, 0.2);
}

.txtarea{
  box-shadow: 0 20px 30px rgba(15, 6, 6, 0.2);
  background-color: rgb(230, 220, 220);
}

/*-------------------contact---------------*/

.contact {
    padding-top: 3rem;
}

.contact-sec {
    width: 100%;
}

.contact-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-inner-col {
    margin: 2rem;
    flex: 1 1 20rem;
    text-align: center;
}

.contact-inner-col img {
    width: 100%;
    height: auto;
    margin: 1.5rem;
    padding: 1rem;
}

.contact-inner-col h1 {
    padding: 1rem 0;
    color: var(--clr1);
    font-size: 3rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
}

.contact-inner-col p {
    padding: .5rem 0;
    line-height: 1.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #aaa;
}

.contact-inner-col input,
.contact-inner-col textarea {
    width: 80%;
    padding: 1rem;
    margin-bottom: 1.2rem;
    border: none;
    border-bottom: .3rem solid var(--clr1);
}

textarea {
    resize: none;
}

.copyright {
    display: flex;
    margin-top: 5rem;
    padding: 3rem;
    text-align: center;
    justify-content: space-between;
    background: var(--clr1);
}

.copyright i {
    font-size: 2rem;
    color: var(--clr2);
}

.copyright p {
    letter-spacing: .1rem;
    font-size: 1.5rem;
    color: var(--clr2);
}

.social i {
    padding: 1rem;
    background: var(--clr1);
    color: var(--clr2);
    font-size: 1.5rem;
}

.social i:hover {
    transform: translateY(-2rem);
    color: var(--clr2);
    cursor: pointer;
    transition: 1s ease;
}

/*--------------media Query------------*/

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media(max-width:768px) {
    #bars {
        display: inline-block;
    }
    section h4 {
        margin-left: 10rem;
        text-align: center;
    }
    .search-bar input {
        width: 100%;
    }
    .head .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        background: var(--clr3);
        font-size: 2rem;
    }
    .head .navbar a {
        margin: 2rem 2.5rem;
        display: block;
        border-right: .1rem solid var(--clr1);
    }
    .head .navbar a:hover {
        transform: translateX(2rem);
        transition: 1s ease;
    }
    .head .navbar.active {
        right: .5rem;
        transition: .4s ease-in;
    }
    .home-content {
        display: inline-block;
    }
    .home .home-content {
        text-align: center;
    }
    .home .inner-content-img img {
        width: 35rem;
    }
    .about-sec {
        display: inline-block;
    }
    .menu-content,
    .inner-blog,
    .contact-inner {
        display: inline-block;
    }
    .menu-content {
        margin-left: 10rem;
    }
}