*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.login-content h3 {
	font-size: 4.2rem;

}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h3{
	margin: 15px 0;
	color: #333;
	/* text-transform: uppercase; */
	font-size: 1.6rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 0%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	/* font-size: 1.2rem; */
	color: #555;
	/* font-family: 'poppins', sans-serif; */
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

#transferButton{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
} */

html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #26d198;
}

.btn {
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem; 
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: .5rem;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #000;
    box-shadow: 0px .2rem 2rem rgba(255, 85, 94, 0.4);
    color: #fff;
    transform: translateY(-1rem);
}

.btn:active {
    transform: translateY(-.1rem);
}

section {
    padding: 4rem 9%;
    margin-top: 8rem;
}

section.reg {
    padding: 6rem 1%;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
section h3 {
    font-size: 4rem;
    color: #fff;
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}

section h4 {
    margin: 0 0 1rem 25rem;
    padding: .2rem;
    width: 50%;
    font-size: 3rem;
    color: #fff;
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: .2rem;
    clip-path: polygon(0% 15%, 25% 28%, 15% 0%, 85% 0%, 70% 28%, 100% 15%, 100% 85%, 67% 70%, 85% 100%, 15% 100%, 28% 66%, 0% 85%);
    background: #26d198;
}

section h2 {
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

section p {
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: #26d198;
    color: #fff;
    padding: 3rem 9%;
    align-items: center;
    justify-content: space-between;
}

.head h1 {
    font-size: 2.5rem;
}

.head .navbar a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 2rem;
}

.head .navbar a:hover {
    transition: .4s ease;
    color: #000;
}


